* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: ",sans-serif;";
    background-color: #333;
    color: #fff;
}

div{
    
    text-align: center;
}


.long{
    position: absolute;
    top: 50px;
    left: calc(50% - 400px);
    width: 800px;
    height: 60px;
    background-color: tomato;
}

.long:hover{
    transform: scale(1.3, 0.8);
    transition: 1s;
    background-color: violet;
}
.short{
    position: absolute;
background-color: blue;
width: 300px;
height: 60px;
top: 180px;
left: calc(50% - 150px);
border-radius: 25px;
}
.short:hover{
transform: rotate(360deg);
transition: 1s linear;
}
.short2{
    position: absolute;
background-color: yellow;
width: 300px;
height: 60px;
top: 300px;
left: calc(50% - 150px);
border-radius: 10px;
}

.short3{
    position: absolute;
background-color: green;
width: 300px;
height: 60px;
top: 300px;
left: calc(50% - 150px);
border-radius: 10px;
}

.short3::after, .short:hover{
 transform: rotate(360deg);
}

.short2::hover {
    transform: rotate(-360deg);
    transition: 1s;
}


.center{
position: absolute;
background-color: rgba(255, 255, 255, 0.092);
width: 400px;
height: 200px;
transform: translate(50%, 50%);


}
.center:hover{
    background-color: #fff;
    color: black;
}